pandas>=2.0.0
beautifulsoup4>=4.12.0
spacy>=3.8.0,<3.9.0
langdetect>=1.0.9
jupyterlab>=4.0.0
scikit-learn>=1.4.0
xgboost>=2.0.0
shap>=0.44.0
imbalanced-learn>=0.12.0
matplotlib>=3.8.0
seaborn>=0.13.0
nl_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_lg-3.8.0/nl_core_news_lg-3.8.0-py3-none-any.whl#sha256=19a3cb18b92f775a0df0e61026e2a0f874e73aabb1b744b16230dfe573a3e34e
